Language: Cpp
UseTab: ForIndentation
IndentWidth: 4 
TabWidth: 4 
AllowShortFunctionsOnASingleLine: None
# LineEnding: LF # Requires clang-format 16
PointerAlignment: Right
DerivePointerAlignment: false
